/* 1800px */ 
@media (max-width: 1800px) {
    .index-header {
        height: 0 auto;
    }

    .blog-header {
        height: 57.5vh;
    }
}

/* END 1800px */ 

/* 1500px */
@media (max-width: 1500px) {
    .wrapper {
        width: 90%;
    }


    .index-header {
        height: 75vh;
    }

    .blog-header {
        height: 50vh;
    }

}
/* END 1500px */


/* 1300px */ 
@media (max-width: 1300px) {
    .index-header {
        height: 65vh;
    }

    .index-sec4 {
        flex-direction: column;

        .article1, .article2 {
            width: 100%;
            padding-bottom: 0px;
        }

        .article1 {
            padding-right: 100px;
            padding-bottom: 100px;
        }

        .article2 {
            padding-left: 100px;
            flex-direction: column-reverse;
            padding-bottom: 100px;

        }

    }

    .contact-header {
        height: 50vh;
    }

    /* BLOG PAGE */

    .blog-header {
        height: 30vh;
    }
    .flex-main {
        display: flex;
        flex-direction: column;
    }

    .blog-aside{
        width: 100%;
        display: flex;
        flex-direction: row;
        position: sticky;
        top: 0px;

        .our-mission {
            padding-left: 30px;
            font-size: 30px;
        }

        .mission-p {
            padding: 30px;
        }

        .sidebar-container2 {
            display: none;
        }
    }

    .blog-article {
        bottom: 0;
        top: 200px;
        width: 100%;
        top: 0px;

        .new-space-title {
            padding-left: 20px;
        }

        .new-space-date {
            padding-left: 20px;
        }

        .new-space-essay {
            padding-left: 20px;
        }
    }

    .comments-sec {
        width: 100%;
        padding: 30px;
    }

    .blog-form{
        width: 100%;
        padding: 30px;
    }
    /* END BLOG PAGE */
}
/* END 1300px */


/* 1000px */
@media (max-width: 1000px) {
    .index-header h1 {
        font-size: 50px;
        margin-left: 20px;
    }


    .index-sec1 {
        flex-direction: column-reverse;
        margin-top: 10px;
        margin-bottom: 80px;

        img {
            display: none;
        }

        .sec1-txt-container {
            width: 90%;

            .sec1-txtcon-p {
                padding: 0;
            }
        }
    }



    .flex-gallery {
        justify-content: space-evenly;
        flex-wrap: wrap;
        
        img {
            margin-bottom: 20px;
            width: 45%;
        }
    }


    .index-sec3 {
        flex-direction: column;
        align-items: center;

        .custom-offers-container, .comms-container,
        .blog-container, .contact-container {
            width: 90%;
        }
    }


    .article1 {
        padding-right: 60px;
    }

    .article2 {
        padding-left: 60px;
    }

    .index-sec5 {
        .sec5-txt-container {
            padding-top: 50px;
            padding-bottom: 50px;
        }
    }

    .comments-sec {
        width: 100%;
        padding: 30px;

        img {
            width: 75px;
            height: 75px;
            
        }
    }

    .contact-header h2 {
        /* border: 1px solid red; */ 
        width: 40%;
        font-size: 40px;
    }
}
/* END 1000px */


/* 770px */
@media (max-width: 770px) {
    .index-header {
        height: 80vh;

        ul {
            margin-top: 15px;
        }

        a {
            margin-right: 0px;
            font-size: 12px;
        }

        h1 {
            font-size: 40px;
            margin-top: 150px;
            margin-left: 0px;
        }

        img {
            margin: 0;
            width: 90%;
        }
    }
 

    .flex-gallery {
        flex-direction: column;
        align-items: center;

        img {
            width: 90%;
        }
    }
    

    .article1 {
        padding-right: 20px;
        padding-bottom: 60px;

        img {
            height: 275px;
        }

        .article1-txt-container {
            align-items: flex-start;
        }

        .new-locations {
            padding-left: 20px;
        }
        .new-locations-p {
            padding-left: 20px;
            text-align: left;
        }

        button {
            margin-left: 20px;
        }
    }


    .article2 {
        padding-left: 20px;
        padding-bottom: 60px;

        img {
            height: 275px;
            top: 0px;
        }

        .group-progams {
            padding-left: 20px;
        }
        .group-programs-p {
            padding-right: 20px;
        }
    }


    .index-gallery-sec2 {
        padding: 30px;
    }

    .blog-nav {
        ul {
            flex-direction: column;
            overflow: hidden;
        }
    }

    .contact-nav {
        ul {
            flex-direction: column;
            overflow: hidden;
        }
    }

    .contact-main-containers {
        flex-direction: column;
        align-items: center;
    }


    .contact-form {
        width: 90%;
    }
}
/* END 770px */ 


/* 550px */ 
@media (max-width: 550px) {
    .index-header {
        height: 65vh;
    }

    .index-sec4 {
        .article1 {
            padding-right: 10px;
        }

        .article2 {
            padding-left: 10px;
        }
    }

    .index-sec3 {
        .custom-offers-container, .comms-container,
        .blog-container, .contact-container {
            margin-bottom: 50px;
        }

        .offers-p, .comms-p,
        .blog-p, .get-in-touch-p {
            margin-top: 0px;
        }
    }

    .blog-aside {
        flex-direction: column;

        img {
            display: none;
        }
    }

    .contact-header h2 {
        /* border: 1px solid red; */ 
        width: 70%;
        font-size: 60px;
        margin-top: 50px;
    }

    .comment-img-txt-container1, .comment-img-txt-container2 {
        img {
            display: none;
        }

        .comment-container1-p,
        .comment-container2-p {
            font-size: 15px;
        }
    }

    .contact-form {
        height: 600px;
        padding: 10px;
    }

    .contact-form-name-email {
        flex-direction: column;

        .contact-name, .contact-email {
            width: 100%;
        }
    }
}
/* END 550px */ 